body {
  margin: 0;
  overflow-y: scroll;
}

.tile-wrapper {
  display: grid;
  grid-template-rows: repeat(40, 1fr);
  grid-template-columns: repeat(40, 1fr);
  height: 100vh;
  width: 100vh;
  margin: auto;
}

.tile {
  /* border: 1px solid red; */
}

.sw:before {
  content: "";
  border-left: 0px solid transparent;
  border-right: 32px solid transparent;
  border-bottom: 32px solid black;
  position: relative;
  bottom: 16.5px;
  right: 1px;
}

.se:before {
  content: "";
  border-right: 0px solid transparent;
  border-left: 32px solid transparent;
  border-bottom: 32px solid black;
  position: relative;
  bottom: 16.5px;
  left: 1px;
}

.ne:before {
  content: "";
  border-left: 0px solid transparent;
  border-right: 32px solid transparent;
  border-top: 32px solid black;
  position: relative;
  top: 31px;
  right: 1px;
}

.nw:before {
  content: "";
  border-right: 0px solid transparent;
  border-left: 32px solid transparent;
  border-top: 32px solid black;
  position: relative;
  top: 31px;
  left: 1px;
}

/* .sw:before {
  content: "";
  position: absolute;
  top: -60px;
  right: -60px;
  height: 100px;
  width: 100px;
  background: green;
  border: 5px solid dimgray;
  transform: rotate(45deg);
} */